html {
  font-size: 16px
}

.container {
  display: flex;
}

}

/* Navigation */
nav {
  /*display: inline-flex;*/
  border: 1px red solid;
  width:100%;
  display: flex;
  align-content: center;
  height:164px;
}

nav .links {
  border: 1px red solid;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  align-items: center;
  height:64px;
}


nav .logo {
display:flex;
justify-content: flex-start;
border: 1px red solid;
}

ul .links {
  display: flex;
  justify-content: flex-end;
  width:100%;
}

.links li {
  margin-right: 1rem;
}
